<% @categories.each do |category| %>
<div class="col-12 col-lg-12">
  <div class="container">
    <div class="card">
      <img class="card-img" src="https://www.pcclean.io/wp-content/uploads/2020/4/qIZNRz.jpg" alt="Card img" >
      <div class="overlay">
        <span><%= category %></span>
      </div>
    </div>
  </div>
</div>
<% end %>






<%# <% @categories.each do |category| %>
<%# <%= category %>
<%# <% end %>
