<%= render 'shared/navbar_back_pages' %>
<%= render 'shared/categories_scroll' %>
<div class = "container">
<h4 id="h3-allivu" style="padding: 20px; color: #6C9A8B; margin-top: 100px">Your search results by <%= params[:query] %></h4>

      
  </div>
</div>
