// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #6C9A8B;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$allivublue: #5c8b7b;
$allivulightblue: #84aea0;
$allivugray: #635757;
$allivulightgray: #797A7A;
$allivufaded: #C4C6C7;
$allivubarely: #f5f5f5;


$allivugreen: #61897b;
