// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #6C9A8B;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$allivublue: #6C9A8B;
$allivulightblue: #8BCBB6;
$allivugray: #635757;
$allivulightgray: #797A7A;
