// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Roboto:wght@400;700&display=swap');
@import "colors";

// Define fonts for body and headers
$body-font: "Roboto", "Helvetica", "sans-serif";
$headers-font: "Roboto", "Helvetica", "sans-serif";
$logo-font: "Leckerli One", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')

// }
// $my-font: "Font Name";

a {
  text-decoration: none !important;
}

.logo {
  font-family: 'Leckerli One', cursive;
  font-size: 45px;
  color: $allivublue;
}

.logonav {
  font-family: 'Leckerli One', cursive;
  font-size: 30px;
  color: $allivublue;
}

.h1-allivu-landing {
  font-family: 'Roboto', bold;
  font-size: 48px;
  color: $allivublue;
  font-weight:bold;
}

.h1-allivu {
  font-family: 'Roboto', bold;
  font-size: 36px;
  color: black;
  font-weight:bold;
}

.h2-allivu {
  font-family: 'Roboto', bold;
  font-size: 28px;
  color: $allivugray;
  font-weight:bold;
}

.h2-show-allivu {
  font-family: 'Roboto', bold;
  font-size: 24px;
  color: $allivugray;
  font-weight: bold;
}

.h3-allivu {
  font-family: 'Roboto', bold;
  font-size: 24px;
  color: $allivulightgray;
  font-weight:bold;
}

.p-allivu {
  font-family: 'Roboto';
  font-size: 16px;
  color: $allivulightgray;
  text-decoration: none;
}

.p-allivu-sm {
  font-family: 'Roboto';
  font-size: 18px;
  color: $allivulightgray;
}

.link-allivu {
  font-family: 'Roboto';
  font-weight: lighter;
  font-size: 14px;
  color: $allivublue;
  text-decoration: none;
}

.allivu-overblue {
  color: $allivublue;
  text-decoration: none;
  font-size: 22px;
  font-weight: 400;
}

#link-allivu-categories {
  font-family: 'Roboto';
  font-weight: lighter;
  font-size: 18px;
  color: $allivugray;
  text-decoration: none;
}

#link-allivu-categories:hover {
  color: $allivublue;
  background-color: transparent;
  text-decoration: none;
}

.p-allivu-sm:hover {
  color: $allivublue;
  background-color: transparent;
  text-decoration: none;
}
