.thankyou-wrapper{
  width:100%;
  height:auto;
  margin:auto;
  background:#ffffff;
  padding:10px 0px 50px;
}
.thankyou-wrapper img{
  height: 10rem;
  width: auto;
  padding:0px 10px 10px;

}

.thankyou-wrapper h2{
  font:40px Arial, Helvetica, sans-serif;
  text-align:center;
}

.thankyou-wrapper p{
  font:20px Arial, Helvetica, sans-serif;
  text-align:center;
  color:#333333;
  padding:5px 10px 10px;
  margin-bottom: 2rem;
  line-height: 30px;
}
