.dashboard {
  background: #F8F9F9;
}

.child-container {
  background-color: #F8F9F9;
  border-top: 1px solid $allivufaded;
}

.tab-underline {
  border-bottom: 1px solid $allivubarely;
}

.live-link {
  color: $allivugray;
  background-color: transparent;
}

hr.line {
  border-top: 1px solid $allivufaded;
  color: #F8F9F9;
}

.flex-arrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3rem;
}

.buffer-top {
  border-top: 1rem solid #F8F9F9;
}

.bg-provider {
  padding: 5rem 3rem;
  background: rgb(230,144,159);
  background: linear-gradient(135deg, rgba(230,144,159,1) 0%, rgba(92,139,123,1) 100%);
}

.bg-new-provider {
  background: rgb(139,203,182);
  background: linear-gradient(20deg, rgba(139,203,182,0.5) 0%, rgba(233,146,162,1) 100%);
}

.bg-service {
  background: rgb(99,87,87);
  background: linear-gradient(20deg, rgba(99,87,87,1) 0%, rgba(121,122,122,1) 100%);
}
