.img-container{
  width: 100vw;
  height: 25vh;
  padding: 50px;
  background-size: cover;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.service-head {
  margin: 1.3rem 0;
}

.service-head-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  font-weight: bold;
  // #more {display: none;}
}

.carousel-img > * {
  height: 48vh;
  width: 100%;
  object-fit: contain;
  background-color: black;
}
