<div class="col-12">
    <section class="login-main-wrapper">
      <div class="main-container">
          <div class="login-process">
              <div class="login-main-container">
                  <div class="thankyou-wrapper">
                      <%= image_tag"Tick.png", class:"rounded mx-auto d-block" %>
                      <h2>service confirmed</h2>
                      <p>Lorem ipsum dolor sit Amet Lorem ipsum dolor sit AmetLorem ipsum dolor sit AmetLorem ipsum dolor sit AmetLorem ipsum dolor sit Amet </p>
                      <button class="button-33 w-100 p-3 my-2" role="button"><%= link_to "CONTINUE", root_path, :style=> "font: 15px Arial, Helvetica, sans-serif; text-align: center; color: black;" %> </button>
                      <button class="button-33 w-100 p-3 my-2" role="button">SHARE</button>
                      <div class="clr"></div>
                  </div>
                    <div class="clr"></div>
                </div>
              </div>
          <div class="clr"></div>
        </div>
    </section>
</div>
