<div class="col-12">
    <section class="login-main-wrapper">
      <div class="main-container">
          <div class="login-process">
              <div class="login-main-container">
                  <div class="thankyou-wrapper">
                      <%= image_tag"Tick.png", class:"rounded mx-auto d-block" %>
                    <div class="d-flex flex-column align-items-center mt-4">
                      <h1 class="h1-allivu">Confirmed 🎉</h1>
                      <p class="p-allivu"> Sit back and relax, you can expect a confirmation email in a few minutes </p>
                    </div>
                      <button class="button-33 w-100 mt-0 h-99 d-inline-block" role="button"><%= link_to "CONTINUE", root_path, :style=> "font: 15px Arial, Helvetica, sans-serif; text-align: center; color: #d5406096;" %> </button>
                      <button class="button-33 w-100 h-99 d-inline-block" role="button">SHARE</button>
                      <div class="clr"></div>
                  </div>
                    <div class="clr"></div>
                </div>
              </div>
          <div class="clr"></div>
        </div>
    </section>
</div>
