<div class="bg-new-provider p-4 pt-5">
  <h1 class="h1-allivu text-black">Become a Provider</h1>
  <h5 class="text-black">Share your knowledge with the world!</h5>

  <div class="d-flex justify-content-center my-3">
    <button class="button-wide-alt"><%= link_to "Start", users_account_provider_path, class: "button-text-alt"  %></button>
  </div>

  <p class="p-allivu mb-4 text-black">You may know a thing or two about your home, but not everyone knows the ins-and-outs. This is where you can offer your expertise to people who seek meaningful experiences but may not know how to find it.</p>

  <h3 class="h3-allivu text-black">Create a service, your way.</h3>
  <p class="p-allivu mb-4 text-black">Available during certain days? Big group or private only? Your service will be under your convenience.</p>

  <h3 class="h3-allivu text-black">Bring your community into the spotlight</h3>
  <p class="p-allivu mb-4 text-black">Introduce your local neighborhood in a whole new way. Celebrate your experiences that would not have been possible elsewhere. </p>
</div>
