<div class="container p-5">
  <h1 class="h1-allivu">Become a provider</h1>
  <h3 class="h3-allivu">Share your knowledge and experiences to the outside world</h3>

  <div class="d-flex justify-content-center my-3">
    <%= link_to "Start", new_service_path, class: "button-wide" %>
  </div>

  <p class="p-allivu mb-5">You may know a thing or two about your land, but not everyone knows the ins and outs. This is where you can step in and offer your expertise in your area to people who are seeking experiences but may not know where to find it.</p>

  <h3 class="h3-allivu">Create a service, your way.</h3>
  <p class="p-allivu mb-5">Available during certain days? Big group or private? Your service will be under your convenience.</p>

  <h3 class="h3-allivu">Bring your community into the spotlight</h3>
  <p class="p-allivu mb-5">Introduce your local neighborhood in a whole new way. Share your roots in a way that is not possible anywhere else. </p>
</div>
