<div class="container">
  <h1>Become a provider</h1>
  <h3>Share your knowledge and experiences to the outside world</h3>
  <p class="link-allivu"><%= link_to "Start", new_service_path %></p>

  <p>You may know a thing or two about your land, but not everyone knows the ins and outs. This is where you can step in and offer your expertise in your area to people who are seeking experiences but may not know where to find it.</p>

  <h4>Create a service, your way.</h4>
  <p>Available during certain days? Big group or private? Your service will be under your convenience.</p>

  <h4>Bring your community into the spotlight</h4>
  <p>Introduce your local neighborhood in a whole new way. Share your roots in a way that is not possible anywhere else. </p>
</div>
