<div class="footer-allivu">
  <div class="p-allivu-mini p-2 w-100 text-center" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="p-allivu-mini text-reset fw-bold" href="https://github.com/tantovanwijhe/ALLIVU.git">ALLIVU</a>
    <div class ="p-allivu-mini">Developed on Ruby on Rails by
      <a href="https://www.linkedin.com/in/in%C3%AAs-cayolla/" target="_blank">Ines Cayolla</a>,
      <a href="https://www.linkedin.com/in/nazanin-bos-mohammadi/" target="_blank">Nazanin Bos</a>,
      <a href="ttps://www.linkedin.com/in/tantovanwijhe/" target="_blank">Tanto van Wijhe</a>
    </div>
  </div>
</div>
