<footer class="text-center text-lg-start bg-light text-muted">
  <div class="container text-center text-md-start mt-2">
    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase fw-bold mb-4">
        Team
        </h6>
        <div class="text-center mb-4">
          <a href="https://www.linkedin.com/in/in%C3%AAs-cayolla/" class="me-3 text-reset">Inês Cayolla </a>
          <a href="https://www.linkedin.com/in/nazanin-bos-mohammadi/" class="me-3 text-reset">Nazanin Bos </a>
          <a href="https://www.linkedin.com/in/tantovanwijhe/" class="me-3 text-reset">Tanto van Wijhe</a>
        </div>
    </div>
  </div>

  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
    <h6 class="text-uppercase fw-bold mb-4">Location</h6>
    <p><i class="fas fa-home me-3"></i> Amsterdam, Netherlands</p>
  </div>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://github.com/tantovanwijhe/ALLIVU.git">ALLIVU</a>
  </div>
</footer>
