
<footer class="footer text-center text-lg-start bg-light text-muted">
  <div class="mb-4">
    <h6 class="text-uppercase fw-bold mb-4 text-center">
      Team
    </h6>
    <div class="footer-links">
      <a href="https://www.linkedin.com/in/in%C3%AAs-cayolla/" class="text-reset">Inês Cayolla </a>
      <a href="https://www.linkedin.com/in/nazanin-bos-mohammadi/" class="text-reset">Nazanin Bos </a>
      <a href="https://www.linkedin.com/in/tantovanwijhe/" class="text-reset">Tanto van Wijhe</a>
    </div>
  </div>
  <h6 class="text-uppercase fw-bold mb-4 text-center">Location</h6>
  <p class="text-center"><i class="fas fa-home me-3"></i> Amsterdam, Netherlands</p>

  <div class="text-center p-2 w-100" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://github.com/tantovanwijhe/ALLIVU.git">ALLIVU</a>
  </div>
</footer>
