<%= render "shared/search_landing" %>

<div class="wrappernavbar">
  <div class="box">
    <i class="bi bi-cup-straw"></i>
    Food & Drinks
  </div>
  <div class="box">
    Healthcare
  </div>
  <div class="box">
  <i class="bi bi-cup-straw"></i>
    Personal Services
  </div>
  <div class="box">
  <i class="bi bi-cup-straw"></i><br>
    Rentals
  </div>
  <div class="box">
    Trips
  </div>
  <div class="box">
    Practical Matter
  </div>
</div>
