<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<div class="navbarback sticky-top">
<div class="allivu-container">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagonn sticky-top">

    <div class="column" id="back">
      <div class="d-flex top-navv">
        <div class="parent mt-1">
          <%= link_to root_path do %> <p class="logonav">AllivU</p></a> <% end %>
        </div>
      </div>

    </div>
    <div class="searchbar">
      <div class="">
          <a href="javascript:history.back()"><i class="bi bi-arrow-left-circle allivu-overblue" style="font-size: 30px"></i></a>
      </div>
    </div>
  </div>
  </div>
</div>
