
<nav class="fixed-bottom navbar-lewagon">
    <div class="row">
        <div class="col">
          <%= link_to "root_path" do %>
            <i class="fa-solid fa-house icone-navbaractive"></i>
          <% end %>
        </div>
        <div class="col">
          <i class="fa-regular fa-heart icone-navbar"></i>
        </div>
        <div class="col">
          <i class="fa-regular fa-envelope icone-navbar"></i>
        </div>
        <div class="col">
          <% if user_signed_in? %>
            <%= link_to "user_session_path" do %>
              <i class="fa-regular fa-user icone-navbar"></i>
            <% end %>
            <% else %>
                <%= link_to "new_user_session_path" do %>
                  <i class="fa-regular fa-user icone-navbar"></i>
                <% end %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="link-navbar">Home</div>
        </div>
        <div class="col">
          <div class="link-navbar">Planning</div>
        </div>
        <div class="col center">
          <div class="link-navbar">Messages</div>
        </div>
        <div class="col">
        <% if user_signed_in? %>
            <div class="link-navbar">Account</div>
            <% else %>
                <div class="link-navbar">Sign in</div>
        <% end %>
        </div>
    </div>
  </a>
</nav>
