
<nav class="fixed-bottom navbar-lewagon">
  <a class="navbar-brand" href="#">
    <%= link_to "#", class: "navbar-brand" do %>
    <div class="row">
        <div class="col">
          <i class="fa-solid fa-house icone-navbaractive"></i>
        </div>
        <div class="col">
          <i class="fa-regular fa-heart icone-navbar"></i>
        </div>
        <div class="col">
          <i class="fa-regular fa-envelope icone-navbar"></i>
        </div>
        <div class="col">
          <i class="fa-regular fa-user icone-navbar"></i>
        </div>
    </div>
    <% end %>
  </a>
</nav>
