<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="sticky-top navbartop">
    <%= render "shared/search_landing" %>

  <div class="wrappernavbar">
      <% @categories.each do |category| %>
        <%= link_to services_path(query: category) do %>
          <div class="box p-allivu-sm" id="link-allivu-categories">
            <div class="" role="button" aria-pressed="true">
              <% case %>
                  <% when category == "Personal Assistant" %>
                    <i class="bi bi-universal-access <%= 'active-nav' if params[:query] == "Personal Assistant" %>" style="font-size: 3rem"></i>
                  <% when category == "Vehicle Rentals" %>
                    <i class="bi bi-car-front-fill"  style="font-size: 3rem"></i>
                  <% when category == "Tours" %>
                    <i class="bi bi-signpost-2" style="font-size: 3rem"></i>
                  <% when category == "Private Classes" %>
                  <i class="bi bi-book"  style="font-size: 3rem"></i>
                  <% when category == "Beauty" %>
                    <i class="bi bi-scissors"  style="font-size: 3rem"></i>
                  <% when category == "Sports" %>
                    <i class="bi bi-heart-pulse" style="font-size: 3rem"></i>
                  <% when category == "Souvenirs" %>
                    <i class="bi bi-balloon-heart" style="font-size: 3rem"></i>
                  <% when category == "Home Entertainment" %>
                    <i class="bi bi-house-heart" style="font-size: 3rem"></i>
                  <% when category == "Romantic Services" %>
                    <i class="bi bi-hearts" style="font-size: 3rem"></i>
                  <% else category == "Health" %>
                    <i class="bi bi-capsule" style="font-size: 3rem"></i>
                <% end %>
                <p style="text-decoration: none"><%= category %></p>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
