<div class ="navbartop sticky-top">
  <%= render "shared/search_landing" %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</div>
<div class="navbartop">
  <div class="wrappernavbar">
    <div class="box">
      <a class="btn-light btn-block btnnavbar" href="/services" role="button" aria-pressed="true"><i class="bi bi-book" style="font-size: 4rem"></i><br>Private <br>Classes</a>
    </div>
    <div class="box">
      <a class="btn-light btn-block btnnavbar" href="/services" role="button" aria-pressed="true"><i class="bi bi-heart-pulse" style="font-size: 4rem"></i><br>Sports</a>
    </div>
     <div class="box">
      <a class="btn-light btn-block btnnavbar" href="/services" role="button" aria-pressed="true"><i class="bi bi-signpost-2" style="font-size: 4rem"></i><br>Tours</a>
    </div>
    <div class="box">
      <a class="btn-light btn-block btnnavbar" href="/services" role="button" aria-pressed="true"><i class="bi bi-scissors" style="font-size: 4rem"></i><br>Beauty</a>
    </div>
    <div class="box">
      <a class="btn-light btn-block btnnavbar" href="/services" role="button" aria-pressed="true"><i class="bi bi-universal-access" style="font-size: 4rem"></i><br>Personal <br> Assistant</a>
    </div>
    <div class="box">
      <a class="btn-light btn-block btnnavbar" href="/services" role="button" aria-pressed="true"><i class="bi bi-car-front-fill" style="font-size: 4rem"></i><br>Vehicle Rent</a>
    </div>
   <div class="box">
      <a class="btn-light btn-block btnnavbar" href="/services" role="button" aria-pressed="true"><i class="bi bi-balloon-heart" style="font-size: 4rem"></i><br>Souvenirs</a>
    </div>
    <div class="box">
      <a class="btn-light btn-block btnnavbar" href="/services" role="button" aria-pressed="true"><i class="bi bi-house-heart" style="font-size: 4rem"></i><br>Home<br>Entertainment</a>
    </div>
    <div class="box">
      <a class="btn-light btn-block btnnavbar" href="/services" role="button" aria-pressed="true"><i class="bi bi-capsule" style="font-size: 4rem"></i><br>Health</a>
    </div>
    <div class="box">
      <a class="btn-light btn-block btnnavbar" href="/services" role="button" aria-pressed="true"><i class="bi bi-hearts" style="font-size: 4rem"></i><br>Romantic</a>
    </div>
  </div>
</div>
