<div class ="navbartop sticky-top">
  <%= render "shared/search_landing" %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</div>
<div class="navbartop">
  <div class="wrappernavbar">
    <div class="box">
      <a class="btn-light btn-block btnnavbar" href="/services" role="button" aria-pressed="true"><i class="bi bi-cup" style="font-size: 3rem"></i><br>Food & Drinks</a>
    </div>
    <div class="box">
      <a class="btn-light btn-block btnnavbar" href="/services" role="button" aria-pressed="true"><i class="bi bi-scissors" style="font-size: 3rem"></i><br>Healthcare</a>
    </div>
    <div class="box">
      <a class="btn-light btn-block btnnavbar" href="/services" role="button" aria-pressed="true"><i class="bi bi-universal-access" style="font-size: 3rem"></i><br>Personal Services</a>
    </div>
    <div class="box">
      <a class="btn-light btn-block btnnavbar" href="/services" role="button" aria-pressed="true"><i class="bi bi-building" style="font-size: 3rem"></i><br>Rentals</a>
    </div>
    <div class="box">
      <a class="btn-light btn-block btnnavbar" href="/services" role="button" aria-pressed="true"><i class="bi bi-bicycle" style="font-size: 3rem"></i><br>Rentals</a>
    </div>
    <div class="box">
      <a class="btn-light btn-block btnnavbar" href="/services" role="button" aria-pressed="true"><i class="bi bi-airplane" style="font-size: 3rem"></i><br>Trips</a>
    </div>
    <div class="box">
      <a class="btn-light btn-block btnnavbar" href="/services" role="button" aria-pressed="true"><i class="bi bi-magic" style="font-size: 3rem"></i><br>Pratical Maters</a>
    </div>
  </div>
</div>
