
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


<div class="row">
  <div class="search-bar">
    <%= simple_form_for :query, :url => '/categories', method: :get, html: {class: "form searchbar-wrapper", placeholder: "teste"}, label:false do |f| %>
        <%= f.input :location, placeholder: "SEARCH",
        input_html: {data: {place_autocomplete_target: "location", placeholder: "Search for a location"}, class: "d-none", label:false},
        wrapper_html: {data: {controller: "place-autocomplete", place_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}, placeholder: "Search for a location"}
        %>
       <div class = "button-search"><%= f.button :submit, class: "round-button", value: "Go", placeholder: "Go" %> </div>
      <% end %>
      </div>
  </div>
