<div class="navbar navbar-expand-sm navbar-light navbar-lewagonn sticky">
  <div class="container-fluid">
    <div class="d-flex top-navv">
      <div class="parent mt-1">
        <%= link_to root_path do %>
          <button class="round-6">&#8249;</button>
        <% end %>
      </div>
      <h3>Services in #(location)</h1>
    </div>
  </div>
</div>
