<div class= "container">
  <h1 class="h1allivu-landing"> I am H1 landing</h1>
  <h1 class="h1allivu"> I am H1 </h1>
  <h2 class="h2allivu"> I am h2 </h2>
  <h3 class="h3allivu"> I am h3 </h3>
  <p class="pallivu">Paragraph - Lorem ipsum dolor sit Amet Lorem ipsum dolor sit AmetLorem ipsum dolor sit AmetLorem ipsum dolor sit AmetLorem ipsum dolor sit Amet</p>
  <p class="pallivu-small">Paragraph small - Lorem ipsum dolor sit Amet Lorem ipsum dolor sit AmetLorem ipsum dolor sit AmetLorem ipsum dolor sit AmetLorem ipsum dolor sit Amet</p>
  <a link = "" class= "linkallivu"> I am a Link </a>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <p>I got</p>
      <h1 class="logo">AllivU</h1>
      <h1 class="h1allivu-landing"></h1>
      <h3 class="h3allivu">I know where to go!</h3>
      <div class="home-scroll">
        <div class="box">
          1
        </div>
        <div class="box">
          2
        </div>
        <div class="box">
          3
        </div>
        <div class="box">
          4
        </div>
        <div class="box">
          5
        </div>
        <div class="box">
          6
        </div>
      </div>
      <a link = "" class= "linkallivu"> I am a Link </a>
    </div>
  </div>
</div>
