<%= render "shared/navbar_top" %>
<div class= "container">
  <div class="row justify-content-center">
    <div class="banner">

    </div>
    <p>Find all the services you need, anywhere</p>
    <p class="toprated">Top Rated</p>
    <div class="home-scroll">

      <div class="box" style="background-image: url('https://www.sixsenses.com/media/3495/marbella-spain-entrance.jpg?mode=max&rnd=132266544100000000');">
        <div class="w-box">
          <h2 id="service-name">Six Sences Spa</h2>
          <h5 id="reviewer-location">California</h5>
          <%# <h6 id="card-review">I had a sport massage in this spa and it was really good <br>
          friendly staff, very recomanded! <br> Alex Phigman</h6> %>
          <h4>⭐⭐⭐⭐⭐</h4>
        </div>
      </div>

      <div class="box" style="background-image: url('https://i.ytimg.com/vi/XzRUOgqmgy8/maxresdefault.jpg');">
        <div class="w-box">
          <h2 id="service-name">Skydive Dubai</h2>
          <h5 id="reviewer-location">Dubai</h5>
          <h4>⭐⭐⭐⭐⭐</h4>
        </div>
      </div>
      <div class="box" style="background-image: url('https://img.leidschdagblad.nl/Jv-CLGmH3klJGDTwTDqGNsH-CWc=/0x0/smart/https://cdn-kiosk-api.telegraaf.nl/d0bae760-ac7d-11e7-aba3-37ed30dd4f0b.JPG');">
        <div class="w-box">
          <h2 id="service-name">Blue Sky Boat tour</h2>
          <h5 id="reviewer-location">Amsterdam</h5>
          <h4>⭐⭐⭐⭐⭐</h4>
        </div>
  </div>
</div>
