<div class= "container">
  <h1 class="logo">AllivU</h1>
  <h1 class="h1allivu-landing"> I am H1 landing</h1>
  <h1 class="h1allivu"> I am H1 </h1>
  <h2 class="h2allivu"> I am h2 </h2>
  <h3 class="h3allivu"> I am h3 </h3>
  <p class="pallivu">Paragraph - Lorem ipsum dolor sit Amet Lorem ipsum dolor sit AmetLorem ipsum dolor sit AmetLorem ipsum dolor sit AmetLorem ipsum dolor sit Amet</p>
  <p class="pallivu-small">Paragraph small - Lorem ipsum dolor sit Amet Lorem ipsum dolor sit AmetLorem ipsum dolor sit AmetLorem ipsum dolor sit AmetLorem ipsum dolor sit Amet</p>
  <a link = "" class= "linkallivu"> I am a Link </a>
</div>
