<div class= "container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <p>I got</p>
      <h1 class="logo">AllivU</h1>
      <h1 class="h1allivu-landing"></h1>
      <h3 class="h3allivu">I know where to go!</h3>
      <div class="home-scroll">
        <div class="box">
          1
        </div>
        <div class="box">
          2
        </div>
        <div class="box">
          3
        </div>
        <div class="box">
          4
        </div>
        <div class="box">
          5
        </div>
        <div class="box">
          6
        </div>
      </div>
      <a link = "" class= "linkallivu"> I am a Link </a>
    </div>
  </div>
</div>
