<%= render "shared/navbar_top" %>
<div class= "container">
  <div class="row justify-content-center">
    <div class="banner">

    </div>
    <p>Find all the services you need, anywhere</p>

    <div class="home-scroll">
      <div class="box">
        <div style="margin-top:50px;">
            <div class="container">
              <div class="card categoryy">
                <img class="card-img" src="https://www.pcclean.io/wp-content/uploads/2020/4/qIZNRz.jpg" alt="Card img" >
                <div class="overlay">
                  <span>:P</span>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="box">
        <div style="margin-top:50px;">
            <div class="container">
                <div class="card categoryy">
                  <img class="card-img" src="https://www.pcclean.io/wp-content/uploads/2020/4/qIZNRz.jpg" alt="Card img" >
                  <div class="overlay">
                    <span>thuyuy</span>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <div class="box">
        <div style="margin-top:50px;">
            <div class="container">
                <div class="card categoryy">
                  <img class="card-img" src="https://www.pcclean.io/wp-content/uploads/2020/4/qIZNRz.jpg" alt="Card img" >
                  <div class="overlay">
                    <span>thuyuy</span>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <div class="box">
        <div style="margin-top:50px;">
            <div class="container">
                <div class="card categoryy">
                  <img class="card-img" src="https://www.pcclean.io/wp-content/uploads/2020/4/qIZNRz.jpg" alt="Card img" >
                  <div class="overlay">
                    <span>thuyuy</span>
                  </div>
                </div>
            </div>
        </div>
      </div>
    <a link = "" class= "linkallivu"> I am a Link </a>
  </div>

</div>
