.button {
  background-color: #61897b;
  color: white;
  border-radius: 35px;
  width: 128px;
  height: 36px;
  border: none;
  font-weight: bold;
  font-size: 16px;
}

.button-wide {
  background-color: #61897b;
  color: white;
  border-radius: 35px;
  width: 70vw;
  height: 5vh;
  border: none;
  font-weight: bold;
  font-size: 16px;
  margin: 0.5rem 0
}

.parent {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 15px;
}

.parent button {
  background-color: #61897b;
  color: white;
  border: none;
  padding-bottom: 50px;
  font-size: 31px;
  height: 30px;
  width: 40px;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
  transition: all 0.2s ease;
}

.parent button:active {
  background-color: #c9e3da;
  box-shadow: 0 0 2px 61897b;
  transform: translateY(2px);
}

.parent button:not(:first-child) {
  margin-top: 10px;
}

.round-6 {
  border-radius: 70%;
}

.button-33 {
  background-color: transparent;
  border: 4px solid #61897b;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: rgb(7, 6, 6);
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 3px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 4px;
}

.button-33:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }
}

.action {
  display: flex;
  justify-content: space-between;
}

.btn-block-categories {
  display: flex;
  flex-direction: row-reverse;
}



.filter{
  border: rgba(139, 203, 182, 1);
  border-radius: 15%;
  margin: 3px;
  background-color: rgba(139, 203, 182, 1);
  padding: 3px 6px;

  a{
    color: white;
  }
}
