.land-card{
  width: auto;
  height: auto;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 15px;
  border-color:azure;
  margin-right: 20px;
}

.categoryy{
  width: 300;
  height: auto;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 15px;
  border-color:azure;
}

.card-link:hover{
  color: rgb(2, 2, 2);
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
}

.serv{
  position: relative;
  padding: 0px 25px 0px 25px;
}

.serv h1{
  font-weight: bold;
  font-size: 24px;
  color: #8b7b7b;

  &:hover{
    color: rgb(2, 2, 2);
  }
}
.serv h2{
  text-align: left;
  color: black;
  padding-left: 0px;
}

.serv p{
  text-align: left;
  padding-left: 15px;
  font-weight: 350;
  font-size: large;
  color: rgba(48, 138, 108, 1);
}

.overlay span{
  font-weight: bold;
  font-size: 17px;
  color: rgb(13, 13, 13);
  font-family: Sans-serif;
  padding: 20px;
}

.categoryy:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.categoryy img{
  transition: transform .8s ease;
}

.categoryy:hover img{
  transform: scale(1.1);
}

// .container {
//   padding-top: 30px;
// }

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: left;
  margin: 10px 0;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  border-radius: 15px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-desc-p-allivu-sm {
  font-size: 14px;
  margin: none;
}

.card-product .card-product-infos {
  padding: 16px;
}

.category-cards{
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  border-style: hidden;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

}

#heart{
  margin-top: 10px ;
}

.bi::before {
  display: inline-block;
  content: "";
  vertical-align: -.125em;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  padding: 0px;
}
