// .card{
//   // flex-flow: row;
//   width: cover;
//   height: cover;
//   margin: 100px 200px;
//   position: relative;
//   overflow: hidden;
// }

.card:hover .overlay{
  opacity: 1;
  transform: scale(1);
}

.overlay{
  position: absolute;
  background-color: rgba(91, 96, 81, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(1.3);
  opacity: 0;
  transition: transform .4s ease 0s;
}

.overlay span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 3em;
  color: #fff;
  font-family: Sans-serif;
}

.card img{
  transition: transform .8s ease;
}

.card:hover img{
  transform: scale(1.1);
}
