.navbartop {
  overflow-x: hidden;
  height: 100%;
  width: 100vw;
  background-color: white;
  box-shadow: 2px 5px 8px #e4e4e4;
  justify-content: center;
}

.wrappernavbar {
  height: 100px;
  width: 100vw;
  border: 1px solid #e4e4e4;
  display: flex;
  overflow-x: auto;
  justify-content: space-between;
  align-items: center;
  overflow-y: hidden;
  float: left;
  white-space: nowrap;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 2px 5px 8px #e4e4e4;
}

.box:first-child{
  padding-left: 2rem;

}

.wrappernavbar .box {
  text-align: center;
  margin-left: 25px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  display: block;
  height: max-content;
  width: fit-content;
  justify-content: center;
  }

/* Style buttons */
.btnnavbar{
  background-color: transparent;/* Blue background */
  border: none; /* Remove borders */
  color: $allivugray; /* White text */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 15px;
  text-decoration: none;
  font-size: 12px;
}

/* Darker background on mouse-over */
.btnnavbar:hover {
  color: $allivublue;
  background-color: transparent;
  text-decoration: none;
}

.active-nav {
  color: $allivublue;
  font-weight: bold;
}
