
.navbar-lewagon {
  background: $allivublue;
  justify-content: space-between;
  padding: 16px;
  padding-left: 10%;
  align-items: center;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.icone-navbaractive {
  color: white;
  fill: white;
  font-size: 29px;
}

.icone-navbar {
  color: $allivulightblue;
  fill: $allivulightblue;
  font-size: 29px;
}

.link-navbar {
  font-family: 'Roboto';
  font-size: 12px;
  color: $allivulightblue;
  text-decoration: none;
}

