

.navbar-lewagon {
  background: $allivublue;
  justify-content: space-evenly;
  display:flex;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.icone-navbaractive {
  color: white;
  fill: white;
  font-size: 29px;
}

.icone-navbar {
  color: $allivulightblue;
  fill: $allivulightblue;
  font-size: 29px;
}
